
{% extends "base.html" %}

{% block title %}Main page{% endblock %}

{% block content %}


<h1>{{ event[2] }}</h1> <!-- Заголовок статьи -->
<p>{{ event[3] }}</p> <!-- Краткое описание -->
<img src="{{ url_for('static', filename='uploads/' + event[8] + '/' + event[5]) }}" alt="Главное изображение"> <!-- Главное изображение -->
<p>{{ event[4] }}</p> <!-- Полное описание -->

<!-- Галерея карусель (вы можете использовать любую библиотеку, которую предпочитаете) -->
<div class="gallery">
    {% for photo in event[6] %}
    <img src="{{ url_for('static', filename='uploads/' + event[8] + '/' + photo) }}" alt="Галерея изображений">
    {% endfor %}
</div>

<!-- Рейтинг в виде звездочек (это только основа, вы можете добавить скрипты или стили) -->
<div class="rating">
    {% for _ in range(event[7]) %}
    ★ <!-- Это звезда для положительного рейтинга -->
    {% endfor %}
    {% for _ in range(5 - event[7]) %}
    ☆ <!-- Это "пустая" звезда -->
    {% endfor %}
</div>

<p>Создано: {{ event[9] }}</p> <!-- Дата добавления -->
<p>Автор: {{ event[8] }}</p> <!-- Владелец -->


{%endblock%}