{% extends "base.html" %}

{% block title %}Просмотр события{% endblock %}

{% block content %}
{{username}} - {{admin_mode}}
<!-- <p>Выбранный пользователь: {{ username }}</p> -->
<a href="/main?selected_user={{ username }}">Вернуться на главную</a>


<style>
    .main-image img {
        max-width: 75vw;
        display: block;
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .gallery img {
        max-width: 33vw;
        margin-bottom: 1rem;
    }

    h1 {
        font-size: 1.5em;  /* Увеличиваем размер шрифта для заголовка в 2 раза */
    }

    /* Увеличиваем размер шрифта для краткого и полного описания в 2 раза */
    p.description, p.full-description {
        font-size: 1.5em;
    }
</style>

<h1>{{ event[2] }}</h1> <!-- Заголовок статьи -->
<p class="description">{{ event[3] }}</p> <!-- Краткое описание -->

<!-- Проверка на существование изображения -->
<div class="main-image">
    {% if event[5] %}
        <img src="{{ url_for('static', filename='uploads/' + event[8] + '/' + event[5].replace('\\', '/')) }}" alt="Главное изображение">
    {% else %}
        <p>Изображение отсутствует.</p>
    {% endif %}
</div>

<p class="full-description">{{ event[4] }}</p> <!-- Полное описание -->


<!-- Галерея карусель -->
<div class="gallery">
    {% if event[6] %}
        {% for photo in event[6] %}
            <div class="gallery-item">
                <img src="{{ url_for('static', filename='uploads/' + event[8] + '/' + photo.replace('\\', '/')) }}" alt="Галерея изображений">
            </div>
        {% endfor %}
    {% else %}
        <p>Галерея изображений отсутствует.</p>
    {% endif %}
</div>

<!-- Рейтинг в виде звездочек -->
<div class="rating">
    {% set rating = event[7] if event[7] is not none else 0 %}
    {% for _ in range(rating) %}
        {# ваш код для отображения звезд рейтинга #}
    {% endfor %}
</div>

<p>Создано: {{ event[11] }}</p> <!-- Дата добавления -->
<p>Автор: {{ event[8] }}</p> <!-- Владелец -->


{%endblock%}
{% block footermain %} 123123 {% endblock %}
{% block footersec %} 123123 {% endblock %}