
{% extends "base.html" %}

{% block title %}Main page{% endblock %}

{% block content %}
{{username}}

<h1>{{ event[2] }}</h1> <!-- Заголовок статьи -->
<p>{{ event[3] }}</p> <!-- Краткое описание -->

<!-- Проверка на существование изображения -->
{% if event[5] %}
    <img src="{{ url_for('static', filename='uploads/' + event[8] + '/' + event[5].replace('\\', '/')) }}" alt="Главное изображение">
{% else %}
    <p>Изображение отсутствует.</p>
{% endif %}

<p>{{ event[4] }}</p> <!-- Полное описание -->

<!-- Галерея карусель -->
<div class="gallery">
    {% if event[6] %}
        {% for photo in event[6] %}
            <img src="{{ url_for('static', filename='uploads/' + event[8] + '/' + photo.replace('\\', '/')) }}" alt="Галерея изображений">
        {% endfor %}
    {% else %}
        <p>Галерея изображений отсутствует.</p>
    {% endif %}
</div>

<!-- Рейтинг в виде звездочек -->
<div class="rating">
    {% set rating = event[7] if event[7] is not none else 0 %}
    {% for _ in range(rating) %}
        {# ваш код для отображения звезд рейтинга #}
    {% endfor %}
</div>

<p>Создано: {{ event[9] }}</p> <!-- Дата добавления -->
<p>Автор: {{ event[8] }}</p> <!-- Владелец -->


{%endblock%}