{% extends "base.html" %}

{% block title %}Статистика пользователя{% endblock %}

{% block content %}
{{username}} - {{admin_mode}}
<h2>Статистика пользователя {{ username }}</h2>
<p><strong>Имя пользователя:</strong> {{ username }}</p>
<p><strong>Полное имя:</strong> {{ full_name }}</p>
<p><strong>Email:</strong> {{ email }}</p>
<p><strong>Дата регистрации:</strong> {{ date_registered }}</p>
<p><strong>Общее количество друзей:</strong> {{ total_friends }}</p>
<p><strong>Количество близких друзей:</strong> {{ close_friends }}</p>
<p><strong>Общее количество событий:</strong> {{ total_events }}</p>
<p><strong>Общее количество фотографий:</strong> {{ total_photos }}</p>
<p><strong>Средний рейтинг историй:</strong> {{ avg_rating }}</p>
<p><strong>Распределение рейтингов:</strong></p>
<ul>
    {% for rate, count in ratings_stats.items() %}
        <li><strong>{{ rate }} звезда:</strong> {{ count }} событий</li>
    {% endfor %}
</ul>
<p><strong>Приватных событий:</strong> {{ private_events_count }}</p>

<h3>Ваши события:</h3>
{% for event in events %}
    <div class="event-item">
        <h4>{{ event[1] }}</h4>
        <!-- <img src="{{ url_for('static', filename='uploads/' + event[2]) }}" alt="{{ event[1] }}"> -->
        <p>{{ event[3] }}</p>
        <a href="{{ url_for('delete_event', event_id=event[0]) }}">Удалить</a>
    </div>
{% endfor %}
{% endblock %}
