
{% extends "base.html" %}

{% block title %}Main page{% endblock %}

{% block content %}
{{username}} {{admin_mode}} - <a href="/cabinet">Личный кабинет</a>
<h2>Страница ваших событий</h2>
    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider slider_bg_1 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6">
                        <div class="slider_text">
                            <h3>Мы сохраним <br> <span>Твои воспоминанния</span></h3>
                            <p>Самые яркие эмоции. <br> Самое лучшее настроение.</p><br>
                            <a href="/createdescription" class="boxed-btn4">Создать событие</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dog_thumb d-none d-lg-block">
                <img src="{{ url_for('static', filename='img/banner/zalupa2.png')}}" alt="">
            </div>
        </div>
    </div>
    <!-- slider_area_end -->

    <script>
        $(document).ready(function(){
            $(".textmonial_active").owlCarousel({
                loop: true,
                margin: 10,
                nav: true,
                items: 1,
                navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"]
            });
        });
        </script>
<!-- testmonial_area_start -->

<div class="testmonial_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h3 align="center" style="font-weight:bold;">◀☸▶ Карусель событий:</h3>
                <br>
                <div class="owl-carousel textmonial_active">
                    {% for item in ext %}
                    <div class="testmonial_wrap">
                        <div class="single_testmonial d-flex align-items-center">
                            <div class="test_thumb">
                                {% if item[3] and item[3][0] and item[3][1] %}
                                    <img src="{{ url_for('static', filename='uploads/' + username + '/' + item[3][0] + '/' + item[3][1]) }}" alt="">
                                {% endif %}
                            </div>
                            <div class="test_content">
                                <h4>{{ item[1] }}</h4>
                                <span>{{ item[2] }}</span>
                                <!-- <p>{{ item[3] }}</p> -->
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testmonial_area_end -->

    <!------------------------------------------------------------------------------------------------------------------------->

    <style>
        /* Стиль для экранов с шириной менее 768px (обычно это мобильные устройства) */
        @media (max-width: 767px) {
            #square1 {
                width: 90%;
                /* height: 700px; */
                display: block;
                margin: 0 auto; /* Центрирует кнопку горизонтально */
            }
        }

        /* Стиль для экранов с шириной 768px и более (обычно это планшеты, ноутбуки и десктопы) */
        @media (min-width: 768px) {
            #square1 {
                width: 60%;
                display: block;
                margin: 0 auto; /* Центрирует кнопку горизонтально */
            }
        }
        input[type="submit"] {
            background-color: #900; /* красный фон */
            color: #fff; /* белый текст */
            padding: 10px 20px;
            border: none;
            border-radius: 4px; /* закругленные углы */
            cursor: pointer; /* указатель руки при наведении */
            transition: background-color 0.3s; /* плавное изменение фона */
        }

        input[type="submit"]:hover {
            background-color: #700; /* темно-красный фон при наведении */
        }

    </style>
   
    <h3 align="center" style="font-weight:bold;">☑ Карта событий:</h3>
    <br>
    <form action="/button_pressed" method="post">
        <input type="submit" id="square1" class="square-button1" value="Увековечить воспоминание!">
    </form>

    <style>
        /* Добавьте этот CSS на вашу страницу, например, в элемент <style> в шапке документа */
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            width: 100%;
            height: 100%; /* или задайте конкретную высоту, если хотите ограничить карту по высоте */
            margin: 0; /* Убираем отступы */
        }
    </style>
    
    <style>
                /* Стиль для экранов с шириной менее 768px (обычно это мобильные устройства) */
        @media (max-width: 767px) {
            #map {
                width: 90%;
                height: 700px; 
            }
        }

        /* Стиль для экранов с шириной 768px и более (обычно это планшеты, ноутбуки и десктопы) */
        @media (min-width: 768px) {
            #map {
                width: 60%;
            }
        }
    </style>

    <style>
        .marker-icon {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: red;
        }

        .marker-icon img {
            max-width: 100%;
            max-height: 100%;
        }
    </style>
                    <!-- Здесь блок карты -->
                    <div class="map-wrapper" style="display: flex; justify-content: center; width: 100%;">
                        <div id="map" style="height: 1600px; margin-top: 20px; margin-bottom: 20px;"></div>
                    </div>
                    
                    <script>
                        var userFolderPath = "{{ url_for('static', filename='uploads/' + username) }}";
                    </script>
                    
                    <script>
                        var username = "{{ username }}"; 
                    
                        function enableMapInteraction() {
                            map.tap.enable();
                        }
                    
                        var map = L.map('map', {
                            maxZoom: 24,
                            minZoom: -2,
                            crs: L.CRS.Simple,
                            maxBounds: [
                                [0, 0],
                                [6909, 4727]
                            ],
                            maxBoundsViscosity: 1.0,
                            tap: false
                        }).setView([3454.5, 2363.5], 1);
                    
                        var bounds = [
                            [0, 0],
                            [6909, 4727]
                        ];
                    
                        L.imageOverlay("{{ url_for('static', filename='img/ready_map2.png') }}", bounds).addTo(map);
                        map.fitBounds(bounds);
                    
                        var currentCircle = null;
                    
                        map.on('click', function(event) {
                            const x = event.latlng.lng;
                            const y = event.latlng.lat;
                    
                            if (currentCircle) {
                                map.removeLayer(currentCircle);
                            }
                    
                            currentCircle = L.circle([y, x], {
                                color: 'red',
                                fillColor: '#f03',
                                fillOpacity: 1,
                                radius: 10
                            }).addTo(map);
                    
                            $.ajax({
                                url: '/save_coordinates',
                                method: 'POST',
                                data: {
                                    'x': x,
                                    'y': y
                                },
                                success: function(response) {
                                    console.log(response);
                                }
                            });
                        });
                    
                        map.fitBounds(bounds);
                        map.invalidateSize();  // Добавлено для коррекции размера карты
                    
                        var data = {{ ext|tojson }}; // Преобразуем ваш список списков в JSON
                    
                        data.forEach(function(item) {
                            let coords = item[0].split(':');
                            let x = parseFloat(coords[0]);
                            let y = parseFloat(coords[1]);

                            // Создание unique_identifier для данного события
                            let uniqueIdentifier = `${username}_${item[1]}`;

                            // HTML для всплывающего окна с названием и ссылкой на статью
                            let popupHtml = `
                                <h4>${item[1]}</h4>
                                <a href="/article/${uniqueIdentifier}">Подробнее</a>
                            `;

                            let markerIcon = L.divIcon({
                                className: 'marker-icon',
                                html: `<img src="${userFolderPath}/${item[1]}/${item[2]}" alt="Marker Image">`
                            });

                            L.marker([y, x], {icon: markerIcon}).bindPopup(popupHtml).addTo(map);
                        });
                    </script>

    <style>
        /* Стиль для экранов с шириной менее 768px (обычно это мобильные устройства) */
        @media (max-width: 767px) {
            #square {
                width: 90%;
                /* height: 700px; */
                display: block;
                margin: 0 auto; /* Центрирует кнопку горизонтально */
            }
        }

        /* Стиль для экранов с шириной 768px и более (обычно это планшеты, ноутбуки и десктопы) */
        @media (min-width: 768px) {
            #square {
                width: 60%;
                display: block;
                margin: 0 auto; /* Центрирует кнопку горизонтально */
            }
        }
    </style>

    <form action="/button_pressed" method="post">
        <input type="submit" id="square" class="square-button" value="Сохранить воспоминание!">
    </form>
<!--
    <div class="service_area">
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-lg-7 col-md-10">
                    <div class="section_title text-center mb-95">
                        <h3>Services for every dog</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single_service">
                         <div class="service_thumb service_icon_bg_1 d-flex align-items-center justify-content-center">
                             <div class="service_icon">
                                 <img src="img/service/service_icon_1.png" alt="">
                             </div>
                         </div>
                         <div class="service_content text-center">
                            <h3>Pet Boarding</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
                         </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_service active">
                         <div class="service_thumb service_icon_bg_1 d-flex align-items-center justify-content-center">
                             <div class="service_icon">
                                 <img src="img/service/service_icon_2.png" alt="">
                             </div>
                         </div>
                         <div class="service_content text-center">
                            <h3>Healthy Meals</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
                         </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_service">
                         <div class="service_thumb service_icon_bg_1 d-flex align-items-center justify-content-center">
                             <div class="service_icon">
                                 <img src="img/service/service_icon_3.png" alt="">
                             </div>
                         </div>
                         <div class="service_content text-center">
                            <h3>Pet Spa</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="pet_care_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-6">
                    <div class="pet_thumb">
                        <img src="img/about/pet_care.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 col-md-6">
                    <div class="pet_info">
                        <div class="section_title">
                            <h3><span>We care your pet </span> <br>
                                As you care</h3>
                            <p>Lorem ipsum dolor sit , consectetur adipiscing elit, sed do <br> iusmod tempor incididunt ut labore et dolore magna aliqua. <br> Quis ipsum suspendisse ultrices gravida. Risus commodo <br>
                                viverra maecenas accumsan.</p>
                            <a href="about.html" class="boxed-btn3">About Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="adapt_area">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-5">
                    <div class="adapt_help">
                        <div class="section_title">
                            <h3><span>We need your</span>
                                help Adopt Us</h3>
                            <p>Lorem ipsum dolor sit , consectetur adipiscing elit, sed do iusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices.</p>
                            <a href="contact.html" class="boxed-btn3">Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="adapt_about">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-6">
                                <div class="single_adapt text-center">
                                    <img src="img/adapt_icon/1.png" alt="">
                                    <div class="adapt_content">
                                        <h3 class="counter">452</h3>
                                        <p>Pets Available</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="single_adapt text-center">
                                    <img src="img/adapt_icon/3.png" alt="">
                                    <div class="adapt_content">
                                        <h3><span class="counter">52</span>+</h3>
                                        <p>Pets Available</p>
                                    </div>
                                </div>
                                <div class="single_adapt text-center">
                                    <img src="img/adapt_icon/2.png" alt="">
                                    <div class="adapt_content">
                                        <h3><span class="counter">52</span>+</h3>
                                        <p>Pets Available</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="team_area">
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-lg-6 col-md-10">
                    <div class="section_title text-center mb-95">
                        <h3>Our Team</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="img/team/1.png" alt="">
                        </div>
                        <div class="member_name text-center">
                            <div class="mamber_inner">
                                <h4>Rala Emaia</h4>
                                <p>Senior Director</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="img/team/2.png" alt="">
                        </div>
                        <div class="member_name text-center">
                            <div class="mamber_inner">
                                <h4>jhon Smith</h4>
                                <p>Senior Director</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="img/team/3.png" alt="">
                        </div>
                        <div class="member_name text-center">
                            <div class="mamber_inner">
                                <h4>Rala Emaia</h4>
                                <p>Senior Director</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     -->
{%endblock%}