{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div>
            {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
{{username}}
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const adminCheckbox = document.getElementById('admin');
            const adminKeyLabel = document.getElementById('admin_key_label');
            const adminKeyInput = document.getElementById('admin_key');

            adminCheckbox.addEventListener('change', function() {
                if (this.checked) {
                    adminKeyLabel.style.display = 'block';
                    adminKeyInput.style.display = 'block';
                    adminKeyInput.setAttribute('required', 'required');
                } else {
                    adminKeyLabel.style.display = 'none';
                    adminKeyInput.style.display = 'none';
                    adminKeyInput.removeAttribute('required');
                }
            });
        });
    </script>

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #fff;
            color: #900; /* красный цвет текста */
        }

        .login-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50vh; /* высота экрана */
            background-color: #fdf4f4; /* светло-серый фон */
        }

        form {
            background-color: #fff; /* белый фон */
            padding: 20px;
            border: 2px solid #900; /* красная рамка */
            border-radius: 8px; /* закругленные углы */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* тень */
        }

        input[type="submit"] {
            background-color: #900; /* красный фон */
            color: #fff; /* белый текст */
            padding: 10px 20px;
            border: none;
            border-radius: 4px; /* закругленные углы */
            cursor: pointer; /* указатель руки при наведении */
            transition: background-color 0.3s; /* плавное изменение фона */
        }

        input[type="submit"]:hover {
            background-color: #700; /* темно-красный фон при наведении */
        }

        label, input {
            margin-bottom: 10px;
        }
    </style>

    <h2>Вход в систему</h2>
    <div class="login-container">
        <form action="/login" method="post">
            <label for="username">Имя пользователя:</label>
            <input type="text" id="username" name="username" required><br><br>

            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required><br><br>

            <label for="admin">Режим админа:</label>
            <input type="checkbox" id="admin" name="admin" value="1"><br><br>

            <label for="admin_key" id="admin_key_label" style="display: none;">Ключ:</label>
            <input type="password" id="admin_key" name="admin_key" style="display: none;"><br><br>

            <input type="submit" value="Проникнуть">
        </form>
    </div>
    <br>
    <a href="/register">Не зарегестрированы?<span style="color: rgb(210, 210, 210); font-size: small;"> ... пиздец</span> Нажмите тут!</a>

{% endblock %}