{% extends "base.html" %}

{% block title %}Просмотр друзей{% endblock %}

{% block content %}
{{username}} {{admin_banner}}

<h2>Страница ваших событий</h2>

    <style>
        /* Стиль для экранов с шириной менее 768px (обычно это мобильные устройства) */
        @media (max-width: 767px) {
            #square1 {
                width: 90%;
                /* height: 700px; */
                display: block;
                margin: 0 auto; /* Центрирует кнопку горизонтально */
            }
        }

        /* Стиль для экранов с шириной 768px и более (обычно это планшеты, ноутбуки и десктопы) */
        @media (min-width: 768px) {
            #square1 {
                width: 60%;
                display: block;
                margin: 0 auto; /* Центрирует кнопку горизонтально */
            }
        }
    </style>

    <!-- <form action="/button_pressed" method="post">
        <input type="submit" id="square1" class="square-button1" value="Click me!">
    </form> -->

    <style>
        /* Добавьте этот CSS на вашу страницу, например, в элемент <style> в шапке документа */
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            width: 100%;
            height: 100%; /* или задайте конкретную высоту, если хотите ограничить карту по высоте */
            margin: 0; /* Убираем отступы */
        }
    </style>
    
    <style>
                /* Стиль для экранов с шириной менее 768px (обычно это мобильные устройства) */
        @media (max-width: 767px) {
            #map {
                width: 90%;
                height: 700px; 
            }
        }

        /* Стиль для экранов с шириной 768px и более (обычно это планшеты, ноутбуки и десктопы) */
        @media (min-width: 768px) {
            #map {
                width: 60%;
            }
        }
    </style>

    <style>
        .marker-icon {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: red;
        }

        .marker-icon img {
            max-width: 100%;
            max-height: 100%;
        }
    </style>
        <style>
            /* Стиль для экранов с шириной менее 768px (обычно это мобильные устройства) */
            @media (max-width: 767px) {
                #square {
                    width: 90%;
                    /* height: 700px; */
                    display: block;
                    margin: 0 auto; /* Центрирует кнопку горизонтально */
                }
            }
    
            /* Стиль для экранов с шириной 768px и более (обычно это планшеты, ноутбуки и десктопы) */
            @media (min-width: 768px) {
                #square {
                    width: 60%;
                    display: block;
                    margin: 0 auto; /* Центрирует кнопку горизонтально */
                }
            }
        </style>

<!-- testmonial_area_start -->

<style>
    .boxed-btn4 {
    background-color: red;
    border: none;
    color: #fff;
    transition: background-color 0.3s ease;
}

.boxed-btn4:hover {
    background-color: darkred;
}
@media (max-width: 767px) {
    .slider_area {
        margin-bottom: 40px;  /* Увеличиваем отступ снизу для слайдера для большего пространства между элементами */
    }

    .boxed-btn4 {
        display: block; 
        margin: 0 auto; 
        margin-bottom: 25px; /* Увеличиваем отступ снизу у кнопки для большего пространства между элементами */
        width: 100%; 
        box-sizing: border-box;
        text-align: center;
    }
}

</style>

    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider slider_bg_1 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <!-- Image for mobile view -->
                    <div class="col-12 d-lg-none mt-3">
                        <img src="{{ url_for('static', filename='img/banner/zalupa3.png')}}" alt="" style="width: 100%;">
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="slider_text">
                            <h3>Мы сохраним <br> <span>Твои воспоминания</span></h3>
                            <p>Самые яркие эмоции. <br> Самое лучшее настроение.</p><br>
                            <a href="/createdescription" class="boxed-btn4">Создать событие</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Image for desktop view -->
            <div class="dog_thumb d-none d-lg-block">
                <img src="{{ url_for('static', filename='img/banner/zalupa3.png')}}" alt="">
            </div>
        </div>
    </div>

<h2>Переключить пользователя</h2>
<form action="/switch_user" method="post" class="mt-4">
    <div class="form-group">
        <select name="username" class="form-control">
            {% for friend in users %}
                <option value="{{ friend }}">{{ friend }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Выбрать пользователя" class="boxed-btn4">
    </div>
</form>

{% if ext|length > 0 %}
<div class="testmonial_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="owl-carousel textmonial_active">
                    {% for item in ext %}
                    <div class="testmonial_wrap">
                        <div class="single_testmonial d-flex align-items-center">
                            <div class="test_thumb">
                                {% if item[3] and item[3][0] and item[3][1] %}
                                <img src="{{ url_for('static', filename='uploads/' + selected_username + '/' + item[3][0] + '/' + item[3][1]) }}" alt="">
                                {% endif %}
                            </div>
                            <div class="test_content">
                                <h4>{{ item[1] }}</h4>
                                <span>{{ item[2] }}</span>
                                <!-- <p>{{ item[3] }}</p> -->
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!-- testmonial_area_end -->

    <!------------------------------------------------------------------------------------------------------------------------->


                    <!-- Здесь блок карты -->
                    <div class="map-wrapper" style="display: flex; justify-content: center; width: 100%; background-color: #e8e8e8; background-image: url('/static/img/zup.png'); background-repeat: no-repeat; background-size: cover; background-position: center;">
                        <div id="map" style="height: 1600px; margin-top: 20px; margin-bottom: 20px;"></div>
                    </div>


                    <script>
                        var selectedUsername = "{{ selected_username }}";
                
                        $(document).ready(function(){
                            $(".textmonial_active").owlCarousel({
                                loop: true,
                                margin: 10,
                                nav: true,
                                items: 1,
                                navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"]
                            });
                        });
                        </script>
                    
                    <script>
                        var userFolderPath = "{{ url_for('static', filename='uploads/' + username) }}";
                    </script>
                    
                    <script>
                        var username = "{{ username }}"; 
                    
                        function enableMapInteraction() {
                            map.tap.enable();
                        }
                    
                        var map = L.map('map', {
                            maxZoom: 24,
                            minZoom: -2,
                            crs: L.CRS.Simple,
                            maxBounds: [
                                [0, 0],
                                [6909, 4727]
                            ],
                            maxBoundsViscosity: 1.0,
                            tap: false
                        }).setView([3454.5, 2363.5], 1);
                    
                        var bounds = [
                            [0, 0],
                            [6909, 4727]
                        ];
                    
                        L.imageOverlay("{{ url_for('static', filename='img/maps/' + cmap) }}", bounds).addTo(map);                        map.fitBounds(bounds);
                    
                        var currentCircle = null;
                    
                        map.on('click', function(event) {
                            const x = event.latlng.lng;
                            const y = event.latlng.lat;
                    
                            if (currentCircle) {
                                map.removeLayer(currentCircle);
                            }
                    
                            currentCircle = L.circle([y, x], {
                                color: 'red',
                                fillColor: '#f03',
                                fillOpacity: 1,
                                radius: 10
                            }).addTo(map);
                    
                            $.ajax({
                                url: '/save_coordinates',
                                method: 'POST',
                                data: {
                                    'x': x,
                                    'y': y
                                },
                                success: function(response) {
                                    console.log(response);
                                }
                            });
                        });
                    
                        map.fitBounds(bounds);
                        map.invalidateSize();  // Добавлено для коррекции размера карты
                    
                        var data = {{ ext|tojson }}; // Преобразуем ваш список списков в JSON
                    
                        data.forEach(function(item) {
                            let coords = item[0].split(':');
                            let x = parseFloat(coords[0]);
                            let y = parseFloat(coords[1]);

                            // Создание unique_identifier для данного события
                            let uniqueIdentifier = `${username}_${item[1]}`;

                            // HTML для всплывающего окна с названием и ссылкой на статью
                            let popupHtml = `
                                <h4>${item[1]}</h4>
                                <a href="/article/${selectedUsername}_${item[1]}">Подробнее</a>
                            `;


                            // let markerIcon = L.divIcon({
                            //     className: 'marker-icon',
                            //     html: `<img src="${userFolderPath}/${item[1]}/${item[2]}" alt="Marker Image">`
                            // });
                        
                            // L.marker([y, x], {icon: markerIcon}).bindPopup(popupHtml).addTo(map);
                            L.circleMarker([y, x], {
                                radius: 8,
                                fillColor: "red",
                                color: "black",
                                weight: 2,
                                opacity: 2,
                                fillOpacity: 0.8
                            }).bindPopup(popupHtml).addTo(map);

                        });
                    </script>



{% endblock %}
{% block footermain %} Потом добавлю текст {% endblock %}
{% block footersec %} я того рот ебал {% endblock %}