<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Marker App</title>
</head>
<body>
<div id="map" style="position: relative; cursor: crosshair;">
    <img src="{{ url_for('static', filename='img/ready_map2.png') }}" id="mapImage" alt="Map" style="max-width: 100%; height: auto;">
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.getElementById('map').addEventListener('click', function(event) {
        var x = event.clientX;
        var y = event.clientY;

        $.ajax({
            url: '/save_coordinates',
            method: 'POST',
            data: {
                'x': x,
                'y': y
            },
            success: function(response) {
                console.log(response);
            }
        });
    });
</script>

</body>
</html>
